In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('../input/Salaries.csv')

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148049 non-null object
OvertimePay         148654 non-null object
OtherPay            148654 non-null object
Benefits            112495 non-null object
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              38119 non-null object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [4]:
data.drop(['Notes'],axis=1,inplace=True)

In [5]:
data.head()

   Id       EmployeeName  ...           Agency Status
0   1     NATHANIEL FORD  ...    San Francisco    NaN
1   2       GARY JIMENEZ  ...    San Francisco    NaN
2   3     ALBERT PARDINI  ...    San Francisco    NaN
3   4  CHRISTOPHER CHONG  ...    San Francisco    NaN
4   5    PATRICK GARDNER  ...    San Francisco    NaN

[5 rows x 12 columns]

In [6]:
data.set_index('Id')

                  EmployeeName  ...   Status
Id                              ...
1               NATHANIEL FORD  ...      NaN
2                 GARY JIMENEZ  ...      NaN
3               ALBERT PARDINI  ...      NaN
4            CHRISTOPHER CHONG  ...      NaN
5              PATRICK GARDNER  ...      NaN
6               DAVID SULLIVAN  ...      NaN
7                    ALSON LEE  ...      NaN
8                DAVID KUSHNER  ...      NaN
9               MICHAEL MORRIS  ...      NaN
10          JOANNE HAYES-WHITE  ...      NaN
11               ARTHUR KENNEY  ...      NaN
12            PATRICIA JACKSON  ...      NaN
13           EDWARD HARRINGTON  ...      NaN
14                 JOHN MARTIN  ...      NaN
15              DAVID FRANKLIN  ...      NaN
16             RICHARD CORRIEA  ...      NaN
17                    AMY HART  ...      NaN
18              SEBASTIAN WONG  ...      NaN
19                  MARTY ROSS  ...      NaN
20               ELLEN MOFFATT  ...      NaN
21                  VENUS AZAR  ...      NaN
22                JUDY MELINEK  ...      NaN
23               GEORGE GARCIA  ...      NaN
24               VICTOR WYRSCH  ...      NaN
25             JOSEPH DRISCOLL  ...      NaN
26                GREGORY SUHR  ...      NaN
27                 JOHN HANLEY  ...      NaN
28              RAYMOND GUZMAN  ...      NaN
29              DENISE SCHMITT  ...      NaN
30               MONICA FIELDS  ...      NaN
...                        ...  ...      ...
148625      Lorraine Rosenthal  ...       PT
148626         Renato C Gurion  ...       PT
148627           Paulet Gaines  ...       PT
148628        Brett A Lundberg  ...       PT
148629          Mark W Mcclure  ...       PT
148630       Elizabeth Iniguez  ...       PT
148631            Randy J Keys  ...       PT
148632         Andre M Johnson  ...       PT
148633  Sharon D Owens-Webster  ...       PT
148634        Edward Ferdinand  ...       PT
148635          David M Turner  ...       PT
148636     James S Kibblewhite  ...       PT
148637           Andrew J Enzi  ...       PT
148638        Kadeshra D Green  ...       PT
148639    Lennard B Hutchinson  ...       PT
148640       Richard A Talbert  ...       PT
148641      Charlene D Mccully  ...       PT
148642   Raphael Marquis Goins  ...       PT
148643       Dominic C Marquez  ...       PT
148644              Kim Brewer  ...       PT
148645            Randy D Winn  ...       PT
148646        Carolyn A Wilson  ...       PT
148647            Not provided  ...      NaN
148648          Joann Anderson  ...       PT
148649             Leon Walker  ...       PT
148650           Roy I Tillery  ...       PT
148651            Not provided  ...      NaN
148652            Not provided  ...      NaN
148653            Not provided  ...      NaN
148654               Joe Lopez  ...       PT

[148654 rows x 11 columns]

In [7]:
data['JobTitle'].nunique()

2159

In [8]:
data['JobTitle'].value_counts()

Transit Operator                                7036
Special Nurse                                   4389
Registered Nurse                                3736
Public Svc Aide-Public Works                    2518
Police Officer 3                                2421
Custodian                                       2418
TRANSIT OPERATOR                                2388
Firefighter                                     2359
Recreation Leader                               1971
Patient Care Assistant                          1945
Deputy Sheriff                                  1933
Police Officer                                  1476
SPECIAL NURSE                                   1402
Public Service Trainee                          1328
REGISTERED NURSE                                1219
Police Officer 2                                1141
Attorney (Civil/Criminal)                       1126
Porter                                          1095
Sergeant 3                                      1047
General Laborer                                 1033
EMT/Paramedic/Firefighter                        918
Gardener                                         894
Parking Control Officer                          868
Senior Clerk                                     840
Library Page                                     799
CUSTODIAN                                        796
FIREFIGHTER                                      794
POLICE OFFICER III                               779
Clerk                                            764
Eligibility Worker                               760
                                                ...
ASPHALT PLANT SUPERVISOR I                         1
CHIEF ELECTRICAL INSPECTOR                         1
TRANSIT PAINT SHOP SUPERVISOR I                    1
MOBILE EQUIPMENT SUPERVISOR                        1
SECRETARY, HEALTH COMMISSION                       1
TRANSIT POWER LINE WORKER SUPERVISOR II            1
MANAGER, UNIFIED FAMILY COURT SERVICES             1
Captain, (Fire Department)                         1
ZOO CURATOR                                        1
ASSESSOR                                           1
Sr Sprv Prob Ofc, Juv Prob                         1
Supervising Mediator, UFCS                         1
SPECIAL ASSISTANT XIV                              1
AUDIOLOGIST                                        1
SENIOR LIGHT RAIL VEHICLE EQUIPMENT ENGINEER       1
CRANE MECHANIC SUPERVISOR                          1
Marina Associate Manager                           1
WHARFINGER I                                       1
SPECIAL ASSISTANT XVIII                            1
HEAD AIRPORT ELECTRICIAN                           1
SENIOR EMPLOYEE ASSISTANCE COUNSELOR               1
PUBLIC SAFETY COMMUNICATIONS TECHNICIAN            1
ROOFER SUPERVISOR I                                1
ELECTROENCEPHALOGRAPH TECHNICIAN I                 1
ADMINISTRATOR, SFGH MEDICAL CENTER                 1
CHIEF FIRE ALARM DISPATCHER                        1
ASSISTANT RECREATION SUPERVISOR                    1
CHIEF HOUSING INSPECTOR                            1
Civil Case Settlmnt Specialist                     1
TRAFFIC SIGN MANAGER                               1
Name: JobTitle, Length: 2159, dtype: int64

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 12 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148049 non-null object
OvertimePay         148654 non-null object
OtherPay            148654 non-null object
Benefits            112495 non-null object
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Agency              148654 non-null object
Status              38119 non-null object
dtypes: float64(2), int64(2), object(8)
memory usage: 13.6+ MB

In [10]:
for col in ['BasePay', 'OvertimePay', 'OtherPay', 'Benefits']:
    data[col] = pd.to_numeric(data[col], errors='coerce')

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 12 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Agency              148654 non-null object
Status              38119 non-null object
dtypes: float64(6), int64(2), object(4)
memory usage: 13.6+ MB

What is the average BasePay ?

In [12]:
data['BasePay'].mean()

66325.44884050643

### What is the highest amount of OvertimePay in the dataset ?

In [13]:
data['OvertimePay'].max()

245131.88

### What is the job title and totalpay benefits of JOSEPH DRISCOLL ?

In [14]:
data[data['EmployeeName'] == 'JOSEPH DRISCOLL'][['JobTitle','TotalPayBenefits']]

                     JobTitle  TotalPayBenefits
24  CAPTAIN, FIRE SUPPRESSION         270324.91

### What is the name of highest paid person (including benefits)?

In [15]:
data.iloc[data['TotalPayBenefits'].idxmax()]

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                     167411
OvertimePay                                                      0
OtherPay                                                    400184
Benefits                                                       NaN
TotalPay                                                    567595
TotalPayBenefits                                            567595
Year                                                          2011
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

### What was the average (mean) BasePay of all employees per year? (2011-2014) ?

In [16]:
data.groupby('Year')['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

### How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)

In [17]:
sum(data[data['Year'] == 2013]['JobTitle'].value_counts() == 1)

202

### How many people have the word Chief in their job title?

In [18]:
sum(data['JobTitle'].str.lower().str.contains('chief', na=False))

627