# Welcome to the data scientist's notebook.



### what's inside this notebook

1. [Python Basics:](#1)
    1.  [Logical operators and if else statement](#2)        
    1.  [Dictionaries](#3)     
    1.  [Loops](#4)       
    1.  [Functions](#5)
        1. [How to define function and optionals](#41)  
        1. [Arguments](#42) 
    1.  [List Comprehension](#6)
    1.  [First Section Examples](#7)
2. [Numpy](#8)
    1. [NumPy Basic Mathematical Operators](#81)
    1. [Indexing And Slicing](#82)
    1. [Stacking Arrays](#83) 
    1. [Random Randint , Randn](#84)   
    1. [Filtering Arrays](#85)
    1. [NumPy Argmin,Argmax,Unit Matrix ](#86)     
3. [Pandas](#9)
    1. [Indexing And Slicing](#91)
    1. [Filtering](#92)
    1. [List Comprehension with Pandas](#93)
    1. [Drop and Concatenating](#94)
4. [Pandas use with real data](#12)
    1. [Description of the Dataset we use](#121)
    1. [GroupBy Operation](#122)
    1. [Apply Function](#123)
5. [Data Cleaning](#11)
    1. [Missing Data](#111)        
        1. [Dropna Method](#112)
        1. [Fillna Method](#113)
        1. [Fill Missing Values With Test Statistics Like MEAN(lambda & list comprehension)](#114)
    1. [Exploratory data analysis (EDA)](#115)
       1. [Visual  Exoloratory Data Analysis](#116)
    1. [Data Types and Convert](#117)
    
1. [Pandas Time Series](#22)
    
7. [Matplotlib](#10)

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns #visualization tools
import matplotlib.pyplot as plt #visualization tools


# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

**The data we will use throughout this notebook = diamonds.csv**

In [ ]:
data = pd.read_csv("../input/diamonds.csv")

In [ ]:
data.head() #Retrieves the first 5 data in the diamonds.csv

<a id = "1"></a> <br>
# 1. PYTHON BASICS

<a id = "2"></a> <br>
## 1.1 Logical Operators and İf Else Statement

Logical Operators:

comparison operators: ==, < , > , >= , <= , !=

boolean operators: and , or , not

In [ ]:
#How to use comparison operators
print(0 > 1)  #False because 0 not greater than 1
print(0 >= 1) #False because 0 is not equal to 1 or 0 is not greater than 1
print(0 == 1) #False because 0 is not equal to 1
print(0 != 1) #True != = is not equal   and 0 is not equal to one therefore result True
print(0 <= 1) #True because 1 greater than 0

#how to use boolean operators

print(True and True) #True because Everything must be true if a 'and' operator is used If one of the values is false return False
print(True or False) #True because Not everything must be true if a one of the value is a true return True

# We use 'not' operators in list section

Logical Operators this much 

now we use Logical Operators with if else statement

In [ ]:
a = 5
b = 2
# whichever is greater, print it

if a > b: #is true because 5 greater than 2
    
    print(a)

In [ ]:
#we say a greater than b what if it wasn't
a = 3
b = 6
if a > b: #is false because 3 not greater than 6
    
    print(a)
else: #If 'if' is not true programs enters else statement
    print(b)

In [ ]:
#what if the two variables are equal

a = 3
b = 3

if a > b: #is false because are equal
    print(a)
    
elif a == b: #is true
    print("Are Equals",a,b)
    
else:#programs not enters this statement because first enter if second enter elif 
    print(b)

 **We understand the main logic of this section**
 
 
And if else statement finishes.We will use a lot in the examples

<a id = "3"></a> <br>
# Dictionaries

In [ ]:
capital = {"England":"London" ,"Germany":"Berlin"} #We create dictionary 
#keys (England,Germany)
#values (London,Berlin)
print(capital.keys()) #Get keys
print(capital.values()) #Get values

In [ ]:
capital["England"] = "Istanbul" #update existing entry
print(capital)

In [ ]:
#Istanbul is not the capital of England

#We should update keys
capital["Turkey"] = capital.pop("England")
        #new_key                #old_key
print(capital)

In [ ]:
#How to add new entry

capital["Brazil"] = "Brasília"
print(capital)

In [ ]:
if ("London" in capital.values()): #false because London not in capital dictionary but if true print(capital["England"]) return KeyError
    print(capital["England"])
elif("Istanbul" in capital.values()):
    print(capital["Turkey"])

In [ ]:
#capital["England"] return error

In [ ]:
print(capital)
del capital["Brazil"] #remove entry
print(capital)

In [ ]:
v = capital.get("Germany")
print(a)

In [ ]:
capital.clear() #clear all dictionary

In [ ]:
print(capital)

In [ ]:
del capital #delete entire dictionary 
#there is no dictionary named 'capital' because it deleted

**Dictionary finishes. We use a lot in examples and projects.**

<a id="4"> </a> <br>

## Loop

**We'll only learn the 'for' loop**

**What is iterable object and iterator**

In [ ]:
list1 = [1,2,3,4] #iterable object


for i in list1:
    print(i) #iterator

In [ ]:
dictionary = {"LeBron James":"Los Angeles Lakers","Stephen Curry":"Golden State Warriors"}

for k,v in dictionary.items(): #we use two iterators because the dictionary consists of two values
    
    print("Key:{} \nValue:{}".format(k,v))

<a id = 5></a><br>
# Functions

<a id="41"></a> <br>
### How to define rules and optionals
You can define functions to provide the required functionality. Here are simple rules to define a function in Python.

Function blocks begin with the keyword def followed by the function name and parentheses ( ( ) ).

Any input parameters or arguments should be placed within these parentheses. You can also define parameters inside these parentheses.

The first statement of a function can be an optional statement - the documentation string of the function or docstring.

The code block within every function starts with a colon (:) and is indented.

The statement return [expression] exits a function, optionally passing back an expression to the caller. A return statement with no arguments is the same as return None.

In [ ]:
#def functionname( parameters    (optionals) ):
   #"function_docstring" (optionals)
   #function_suite
   #return [expression]  (optionals)

In [ ]:
x = 5
def function1():
    """
    This function takes x's square
    """
    return x ** 2 #get square
print(function1())

In [ ]:
a = 5
c = 4

def function2(x,y): #Function Parameters
    """This function x  plus y"""
    return x + y

print(function2(a,c))

In [ ]:
b = [1,2,3,4] #list

def function(x):
    
    print("incoming values",x)
    outlist = [i ** 2 for i in x] #list comprehension
    return print("Outgoing values", outlist)

function(b)

<a id="42"></a> <br>
# Function Arguments

**You can call a function by using the following types of formal arguments:**

**Required arguments**

**Default arguments**

**Variable-length arguments**

### Required arguments

**Required arguments are the arguments passed to a function in correct positional order. Here, the number of arguments in the function call should match exactly with the function definition.**

In [ ]:
def sayhello(helloword):
    
    print(helloword)
    
sayhello("Merhaba")

**To call the function sayhello(), you definitely need to pass one argument, otherwise it gives a syntax error as follows**

In [ ]:
#sayhello() #return error

### Default arguments

**A default argument is an argument that assumes a default value if a value is not provided in the function call for that argument. The following example gives an idea on default arguments, it prints default age if it is not passed**

In [ ]:
def function(x,y = 1):
    
    return x * y

print(function(12)) #we give one parameters but y parameter define default = 2 therefore no errors occurred

In [ ]:
#what happens we give two parameter
print(function(12,2)) #y value change to 2

### Flexible Argument


**You may need to process a function for more arguments than you specified while defining the function. These arguments are called flexible-variable-length  arguments and are not named in the function definition, unlike required and default arguments.**

In [ ]:
def function(*args):
    print("İnput parameter",args)
    
    for i in args:
        print("Output parameter",i + 10)
        
    
function(1,2,3,4,5)

In [ ]:
def f(**kwargs): #**kwargs it's dictionary
    """ print key and value of dictionary"""
    for key, value in kwargs.items():
        print(key, " ", value)
f(country = 'Germany', capital = 'Berlin', population = 123456)

<a id = "6"></a> <br> 
## List Comprehension

**A list comprehension is a syntactic construct available in some programming languages for creating a list based on existing lists**

**[expression for item in list]**

This is equivalent to:
for item in oldlist:
    newlist.append(expression)

**[expression for item in list if conditional]**


This is equivalent to:
for item in oldlist:
    if conditional:
        newlist.append(expression)

In [ ]:
list1 = [1,2,3,4]

list2 = [i+1 for i in list1] #i+1 = expression list1 = oldlist list2 = newlist

print(list2)

In [ ]:
list1 = [5,11,12,13]

list2 = [i**2 for i in list1 if i > 10] #i**2 = expression if i > 10 condition

print(list2)

In [ ]:
list1 = [5,6,7,19,18]

list2 = [i**2  for i in list1 if i < 20 if i > 10]
                              #if block #elif
print(list2)

In [ ]:
list1 = [5,6,7,19,18,-2,-5]
                #İf condition       #Elif Expression#Elif Condition    Else Expression
list2 =  [i if i < 18 and 0 < i       else i+2    if i > 17          else i**2                         for i in list1]
            #*****if block****       #*****Elif Block*****          #Else Block

#if condition if i < 18 and 0 < i
#if expression i

#elif condition i > 17
#elif expression i+2

#else expression i**2 


print(list2)

<a id = "7"></a> <br>
## Python Basics Example

In [ ]:
# Example 1

dictionary = {"USA":327,"Russia":144,"China":1386}

maxpopulation = int()
maxpopulationcountry = str()
for iterator,j in dictionary.items():
    
    if j > maxpopulation:
        maxpopulation = j
        maxpopulationcountry = iterator
print("Country {}\nPopulation(Million): {}".format(maxpopulationcountry,maxpopulation))

#But this too long way

#let's learn some trick for take dictionary higher value
#first we need another library

import operator
myTuple = max(dictionary.items() ,key = operator.itemgetter(1))[:] #this line return Max Population and Country ('China',1386)
print(myTuple[0],myTuple[1])

In [ ]:
# Example 2

evennumbers = [i for i in range(0,100) if i % 2 == 0]
print(evennumbers)

In [ ]:
# Example 3
def factorial(x):   
    factorial = 1
    
    for i in range(2,x+1):
        factorial *= i
    return factorial


print(factorial(5))

**Finish Python Basics**

<a id = "8"></a> <br>
# NumPy

In [ ]:
array1 = np.array([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]) #1*15 vector
print(array1.shape) #learn array shape
array1 = array1.reshape(5,3) #array reshape 
print(array1.shape)
print(array1)

In [ ]:
print(array1.ndim)#learn array dimension
print(array1.size) #array length

In [ ]:
array3 = np.empty((2,2)) #Creates an array with a value less than 0
#this 'array.empty' the equivalent null in python
print("Less than 0 array\n",array3)
print("---------------------------------------------------------------------------------")


array2 = np.zeros((2,2))# Creates  array of zeros    (3,4) shape (x,x) 
#list.append()  it consumes too much memory. therefore we use this method
print(array2)

#how to update array variables
array2[0][0] = 1      #columns 1 line 1
array2[1][1] = 4      #columns 2 line 2
print("Update Version\n",array2)

In [ ]:
rangearray = np.arange(10,50,5)#10 to 50 step 5 
#10 inclusive   #50 not included
print(rangearray)

In [ ]:
linespace = np.linspace(10,50,20000) #Compresses 20000 numbers between 10 and 50
print(linespace)

<a id = "81"></a> <br>
### NumPy Basics Mathematical operators

In [ ]:
array1 = np.array([1,2,3])
array2 = np.array([4,5,6])

print(array1+array2) #return new array. collects columns
print(array1.sum())
print(np.square(array1)) # take square

In [ ]:
print(np.add(array1,array2)) #other way collects columns

<a id = "82"></a> <br>
## Indexing and Slicing

In [ ]:
array1 = ([1,2,3,4,5,6,7])

print(array1[0]) #get 0 index
print(array1[0:4]) #Retrieve data from 0 to 4(not included)

reverse_array = array1[::-1]
print(reverse_array) #reverse array

In [ ]:
array1 = np.array([1,2,3,4,5,6,7,8,9,10]) 
array1 = array1.reshape(2,5) #two dimensional array
print(array1)
print(array1[1][1]) #column 2 but index number = 1 ,  line 1 
print(array1[0][4])  #column 1 but index number = 0 ,  line 4

In [ ]:
print(array1[0][4],array1[1][4]) #It's hard to get the last column with this path.

print(array1[:,-1]) #Therefore we use this way because it's very simple and we may not always know the size of the array


#We can do it the same way take last line. we just need to replace ':' and '-1'
print(array1)
print(array1[-1,:]) #last line

<a id = "83"></a> <br>
### Stacking Arrays

In [ ]:
array1 = np.array([1,2,3])
array2 = np.array([4,5,6])

array3 = np.hstack((array1,array2))  #horizontal stack
print(array3)
array3 = np.vstack((array1,array2)) #vertical stack
print(array3)

<a id = "84"></a> <br>
### Random Randint Randn

In [ ]:
array1 = np.random.randint(1,100,10) #create random 10 values between 1 and 100
print(array1)

In [ ]:
array1 = np.random.rand(5) #create random 5 values between 0 and 1 
print(array1)

array1 = np.random.randn(5) #create Gaussian Distribution values
print(array1)

<a id = "85"></a> <br>
## Filtering Arrays

In [ ]:
array1 = np.arange(1,101)
# Take even numbers
filter1 = array1 % 2 == 0
array1[filter1]

#another way
array1[array1 % 2 == 0]

#trick
#array2 = np.arange(0,101,2)
#print(array2)

In [ ]:
array1 = np.array([10,20,30,40,50,60,70,71,72,73,74,80,90,100])

#Let's take the numbers between 70 and 80
array1 = array1[(array1 >= 70) & (array1 <= 80 )]
print(array1)

<a id = "86"></a> <br>
### NumPy ArgMin,ArgMax, Unit Matrix

In [ ]:
array1 = np.array([1,2,3,4,5,6,7,8,9])

#how to learn max and its index
print("Max:{} Index{}".format(array1.max(),array1.argmax()))

#same way learn min
print("Min:{} Index:{}".format(array1.min(),array1.argmin()))

#collects array1
print(array1.sum())

#Unit Matrix 4x4
print("\n",np.eye(4,4))

**numpy is over**

<a id = "9"></a> <br>
# Pandas basics

**How to create dataframe from dictionary**

In [ ]:
dictionary = {"NAME":["James","John","Robert","Michael","Matthew","Mary"],
              "AGE":[15,16,17,33,45,66],
              "Salary":[100,150,240,350,110,220]}


dataframe = pd.DataFrame(dictionary)

**General informations for dataframe**

In [ ]:
dataframe.info()

In [ ]:
dataframe.dtypes #Object = string

In [ ]:
print(dataframe.columns)

#we get any column name that way
print(dataframe.columns[0])

In [ ]:
print(dataframe.head(2)) #Retrieves the first n(default = 5) data in the dataframe(dictionary)
print("-------------------------------------------------")
print(dataframe.tail(2)) #Retrieves last n(default = 5) data in the dataframe(dictionary)

<a id = "91"></a> <br>
## Indexing and Slicing

In [ ]:
#to retrieve information for a single column
print(dataframe.AGE)
#or
print(dataframe["NAME"])

In [ ]:
print(dataframe.loc[0:3,"NAME"]) #get first four  line and "NAME" column

print(dataframe.loc[0:2,["NAME","AGE"]]) #get first three line  and "NAME" and "AGE " column

In [ ]:
reverse = dataframe.loc[::-1,:] #inverts data
reverse

In [ ]:
#what difference between iloc and loc

#loc needs column name but iloc index number
print(dataframe)
print(dataframe.iloc[0,1]) #get first line and second column value

<a id = "92"></a> <br>
## Filtering

In [ ]:
dataframe

In [ ]:
condition = dataframe.AGE > 30
dataframe[condition]

In [ ]:
#or
dataframe[dataframe.AGE > 30]

In [ ]:
#how to use two condition
condition1 = dataframe.AGE > 30
condition2 = dataframe.Salary > 300
dataframe[condition1 & condition2]

In [ ]:
dataframe

In [ ]:
print(dataframe.AGE.max())
print(dataframe.Salary.min())
print(dataframe.AGE.mean())

**Example**

In [ ]:
#How to get the name of the oldest man

dataframe[dataframe["AGE"].max() == dataframe["AGE"]]["NAME"]

#marry age = 66

In [ ]:
#How to get the age of the lowest salary

dataframe[dataframe["Salary"].min() == dataframe["Salary"]]["AGE"]

#Name     Age  Salary
#Matthew   45  110

<a id = "93"></a> <br>
## List Comprehension with pandas

In [ ]:
dataframe

In [ ]:
#let's create a new column
#column name is Salary level
average_salary = dataframe.Salary.mean()
print(average_salary)
dataframe["salary_level"] = ["High"if each > average_salary else "Lower" for  each in dataframe.Salary]
dataframe

<a id = "94"></a> <br>
## Drop and Concatenating

In [ ]:
dataframe

In [ ]:
dataframe.drop(["salary_level"] , axis = 1,inplace = True) #we destroy salary_level

#inplace = dataframe = dataframe.drop(["...."],...)
dataframe

In [ ]:
dataframe = dataframe.drop(dataframe[dataframe.NAME == "James"].index) 
dataframe

## Concatenating

In [ ]:
df1 = pd.DataFrame(["Toyota","Honda","Nissan"],index = [0,1,2],columns=["Japan"])
df2 = pd.DataFrame(["BMW","Mercedes","Audi"], index = [0,1,2],columns=["German"])
print(df1)
print(df2)

In [ ]:
dataconcat = pd.concat([df1,df2],axis = 1) 
dataconcat

<a id = "12"></a> <br>
# Let's deal with real data

**We use diamonds dataset in this kernel**


<a id = "121"></a> <br>
### Description

Context
This classic dataset contains the prices and other attributes of almost 54,000 diamonds. It's a great dataset for beginners learning to work with data analysis and visualization.

#### Content
**price** price in US dollars (\$326--\$18,823)

**carat** weight of the diamond (0.2--5.01)

**cut** quality of the cut (Fair, Good, Very Good, Premium, Ideal)

**color** diamond colour, from J (worst) to D (best)

**clarity** a measurement of how clear the diamond is (I1 (worst), SI2, SI1, VS2, VS1, VVS2, VVS1, IF (best))

**x** length in mm (0--10.74)

**y** width in mm (0--58.9)

**z** depth in mm (0--31.8)

**depth** total depth percentage = z / mean(x, y) = 2 * z / (x + y) (43--79)

**table** width of top of diamond relative to widest point (43--95)

#### **From now on we are only deal with dataset**

In [ ]:
data = pd.read_csv("../input/diamonds.csv")

**Let's look dataset properties**

In [ ]:
data.info()

**What do we understand from this output**

1. 6 columns of data type 'float'

2. 2 columns of data type 'int'

3. 3 columns of data type 'object'(string)

4. Each column has 10 rows and not have NaN(empty) value

These are the first details. Let's continue

In [ ]:
data.head()

**Unnamed: 0** Column is  Unnecessary

In [ ]:
data.drop(["Unnamed: 0"],axis  = 1 , inplace = True)
data.head()
#İt's gone

In [ ]:
data.describe() #numeric

**Yeah, something caught my eye.**

       Do you see the Min. Values of X, Y and Z. It can't be possible..!!
       It doesn't make any sense to have either of Length or Width or Height to be zero..
       
**Let's have look at them.**

In [ ]:
data.loc[(data["x"] == 0) | (data["y"] == 0) | (data["z"] == 0)]
#Notice that instead of using '&' in the code above, '|' because if we used 'and (&)' it would show data where all are 0

**We don't have empty values, but we have wrong values**

**How do I know how many corrupt values there are**

In [ ]:
#just use len()

len(data.loc[(data["x"] == 0) | (data["y"] == 0) | (data["z"] == 0)])

**20 values are corrupt**

**Keep in mind, dataset  have 53940 lines**

**after drop process dataset must have 53920 lines**

In [ ]:
#drop with three condition
#we use NumPy Logical_and method

data = data[np.logical_and(np.logical_and((data["x"] != 0) , (data["y"] != 0))  , (data["z"] != 0))] 
data.info()

In [ ]:
data.describe()

**there is no more corrupt data**
<a id = "122"></a> <br>

### GroupBy Operation

In [ ]:
data.head()

In [ ]:
data.groupby("cut").mean()

**Fair, Good, Ideal , Premium , Very Good**

We grouped according to cut quality

In [ ]:
data.groupby("cut").mean()["price"] #just price and cut

In [ ]:
data["cut"].value_counts(ascending=True)

**1609 diamonds of cut type 'fair'**                                

**4902 diamonds of cut type 'Good'**                                

**12081 diamonds of cut type 'Very Good'**

**13700 diamonds of cut type 'Premium'**

**21548 diamonds of cut type 'Ideal'**

In [ ]:
data.head()

<a id = "123"></a> <br>
### Apply Function

         Diamond Clarity refers to the absence of the Inclusions and Blemishes.
**clarity** a measurement of how clear the diamond is (I1 (worst), SI2, SI1, VS2, VS1, VVS2, VVS1, IF (best))

**we create new column Color_Level**

**I1,SI2,SI1,VS2 = Bad Clarity**

**VS1,VVS2,VVS1 = Good Clarity**

**IF = Best Clarity**

and use pandas apply method

In [ ]:
def seperator(clarity):
    
    if clarity in ["I1","SI2","SI1","VS2"]:
        
        return "Bad Clarity"
    
    elif clarity in ["VS1","VVS2","VVS1"]:
        
        return "Good Clarity"
    
    else:
        
        return "Best Clarity"    
    
data["Clarity_level"] = data["clarity"].apply(seperator)

In [ ]:
data.head()

In [ ]:
data["Clarity_level"].value_counts()

**Same thing use on 'color' columns**

**D being the best and J the worst.**

**We create new column Color_level**

**D = Best Color**
**E,F,G,H = Good Color**
**H,I,J = Bad Color**

In [ ]:
def seperator2(color):
    
    if color in ["E","F","G","H"]:
        return "Good Color"
    elif color in ["H","I","J"]:
        return "Bad Color"
    else:
        return "Best Color"
    

data["Color_level"] = data.color.apply(seperator2)

In [ ]:
data.head()

In [ ]:
data["Color_level"].value_counts()

In [ ]:
condition1  = data.Color_level == "Best Color"
condition2 = data.Clarity_level == "Best Clarity"

bestdiamonds = pd.DataFrame(data[condition1 & condition2])

In [ ]:
len(bestdiamonds.index) #Only 73 diamonds have the best clarity and best color

In [ ]:
print(int(bestdiamonds["price"].mean()))
print(int(data["price"].mean()))

#Look at the difference between these two.

<a id ="11"></a> <br>
# Cleaning Data

**first create example data**

In [ ]:
arr = np.array([[10,20,np.nan],[5,np.nan,np.nan],[21,np.nan,10]]) #np.nan = NaN Values

df = pd.DataFrame(arr,index = ["İndex1","İndex2","İndex3"], columns = ["column1","column2","column3"])

**We will use head, tail, columns, shape and info methods to diagnose data**

In [ ]:
df.head()

In [ ]:
df.info()

<a id = "111"></a> <br>
## 1-)MISSING DATA FİLL METHOD

As you can see, we have nan data

column1 = 0 NaN Values

column2 = 2 NaN Values

column3 = 2 NaN Values

**what should we do**


If we encounter with missing data, what we can do:

leave as is

**1-)drop them with dropna()**

**2-)fill missing value with fillna()**

**3-)fill missing values with test statistics like mean**

Assert statement: check that you can turn on or turn off when you are done with your testing of the program

<a id = "112"></a> <br>
#### 1-) DROP THEM WİTH dropna()

In [ ]:
#first solution
#drop them with dropna()
print(df.head())
print("--------------------\nAfter Solution\n--------------------")
print(df.dropna(axis = 1)) #if column have ONE NaN Values destroyed all column. but is not so healthy for our data

In [ ]:
print(df.head())

print("--------------------\nAfter Solution\n--------------------")
print(df.dropna(axis = 0)) #Healthier than previous solution. Because we will not deal with data with 3 values.
#Line destroy meaning just one object destory. but the collumn destory meaning all data may be corrupted

**empty data frame because all line have NaN value and  function destroyed them all**

<a id = "113"></a> <br>
#### 2-) Fill Missing Value With fillna()

In [ ]:
#second solution
#fill missing value with fillna()
print(df.head())
print("--------------------\nAfter Solution\n--------------------")
print(df.fillna("Empty"))

<a id = "114"></a><br>
#### 3-) Fill Missing Values With Test Statistics Like Mean

In [ ]:
#third solution
#fill missing values with test statistics like mean
#we write a function for this problem
print(df.head())
print("--------------------\nAfter Solution\n--------------------")

#we use lambda and list comprehension one line 
anonymousfunction = lambda dataframe: [dataframe[cNAME].fillna(value = dataframe[cNAME].fillna(0).mean(),inplace = True) for cNAME in dataframe.columns]
anonymousfunction(df)
print(df.head())

## 2-)EXPLORATORY DATA ANALYSIS

### EXPLORATORY DATA ANALYSIS

In [ ]:
edaanalysıs = pd.read_csv("../input/diamonds.csv")
edaanalysıs.describe()

#example X,Y,Z min = 0 this is a outlier values

value_counts(): Frequency counts
<br>outliers: the value that is considerably higher or lower from rest of the data
* Lets say value at 75% is Q3 and value at 25% is Q1. 
* Outlier are smaller than Q1 - 1.5(Q3-Q1) and bigger than Q3 + 1.5(Q3-Q1). (Q3-Q1) = IQR
<br>We will use describe() method. Describe method includes:
* count: number of entries
* mean: average of entries
* std: standart deviation
* min: minimum entry
* 25%: first quantile
* 50%: median or second quantile
* 75%: third quantile
* max: maximum entry

<br> What is quantile?

* 1,4,5,6,8,9,11,12,13,14,15,16,17
* The median is the number that is in **middle** of the sequence. In this case it would be 11.

* The lower quartile is the median in between the smallest number and the median i.e. in between 1 and 11, which is 6.
* The upper quartile, you find the median between the median and the largest number i.e. between 11 and 17, which will be 14 according to the question above.

<a id ="116"></a><br>

### VISUAL EXPLORATORY DATA ANALYSIS

In [ ]:
#bestdiamonds #diamonds have the best clarity and best color
#data.head #normal data


#                                    Define Figure 1(Normal Diamonds) 


fig, axes = plt.subplots(nrows=1, ncols=2 ,figsize=(15,6)) #we create figure; one rows, two collumn
figure1 = data.boxplot(ax=axes[0],column="price",by=["cut","Clarity_level"],vert=False,fontsize=13,grid=False) #left figure
figure1.set_xlabel("PRİCE")
figure1.set_title("Normal Diamonds")

#                                   Define Figure 1 (Normal Diamonds)

#                                     Define Figure 2 (Best Clarity and Color Diamonds)

figure2 = bestdiamonds.boxplot(ax=axes[1],column="price",by=["cut","Clarity_level"],vert=False,fontsize=13,grid=False) #right figure
figure2.set_xlabel("PRİCE") 
figure2.set_title("Best Diamonds")

#                                     Define Figure 2 (Best Clarity and Color Diamons)


#                                    Plot Settings


plt.tight_layout() #To prevent intertwining
plt.suptitle('Cut and Clarity Level Effect on Price') 

#                                   Plot Settings


plt.show()

* Example = cut,clarity_level and price
* Black line at left is max
* Blue line at left is 75%
* Green line is median (50%)
* Blue line at right is 25%
* Black line at right is min
* There are no outliers (at least it does not have a very effective outlier value)

<a id = "117"></a> <br>
## 3-) Data Types and Convert

There are 5 basic data types: 

**object(string)**

**boolean**

**integer**

**float **

**category**

**We can make conversion data types like from str to category or from int to float **

In [ ]:
#learn  which data types how much are in the dataset
data.dtypes

In [ ]:
#we can object to category
#and we can int to float
data["Clarity_level"] = data["Clarity_level"].astype("category")
data["price"]= data["price"].astype("float")

In [ ]:
#As you can see Clarity_level is converted from object to categorical
# And price converted from int to float
data.dtypes

<a id="22"> </a> <br> 
### Pandas Time Series

In [ ]:
data.head()

In [ ]:
#Let's add time series to our data
data2 = data.head()


date_list = ["1992-01-10","1992-02-10","1992-03-10","1993-03-15","1993-03-16"]
datetime_object = pd.to_datetime(date_list)
data2["date"] = datetime_object
# lets make date as index
data2= data2.set_index("date")


data2

successfully added time series.

In [ ]:
data2.loc["1992-01-10":"1993-03-16"] #indexing

**visualization**

In [ ]:
figure1 = data2.price.plot(kind="line")
figure1.set_xlabel("DATE")
figure1.set_ylabel("PRİCE")
figure1.set_title("diamond price chart by time")
plt.show()

**Resampling pandas data time series**

In [ ]:
data2.resample("A").mean()

# 'A' = year
# 'M' = month

**it's look good.**
**no NaN or corrupt values**

In [ ]:
data2.resample("M").mean()

**Problems occur when we do this.**
**let's solve it**

In [ ]:
#first way
data2.resample("M").mean().interpolate("linear")        #depending on the average

#second way

#data2.resample("M").first().interpolate("linear")       #depending on the first value

**and one more thing. NaN type  == object(string).  this method is useless**

<a id ="10"></a><br>
## MATPLOTLİB

### FİGURE

In [ ]:
x = np.arange(1,6)
y = np.arange(2,11,2)
print(x)
print(y)

In [ ]:
fig = plt.figure()

axes = fig.add_axes([0.1,0.1,0.8,0.7])
axes.plot(x,y,"red")
axes.set_xlabel("X Values")
axes.set_ylabel("Y Values")
plt.show()

### Sub Plots

In [ ]:
fig , axes = plt.subplots(ncols=2,nrows=1,figsize = (10,5))   
axes[0].plot(x,y,"red",linewidth=5,marker="o",markersize=19,markerfacecolor="black",markeredgewidth=7,markeredgecolor="yellow")
                                                                                
axes[0].set_title("X vs Y Graph")
axes[0].set_xlabel("Y Values")
axes[0].set_ylabel("X Values")

#marker = "o" (add marker any type) 
#https://matplotlib.org/3.1.1/api/markers_api.html#module-matplotlib.markers can you see all  markers type


axes[1].plot(x**2,y**2,linewidth=5,linestyle="-.")
axes[1].set_title("X Square vs Y Square")
axes[1].set_xlabel("Y Square")
axes[1].set_ylabel("X Square")
plt.tight_layout()

### Scatter Plot

**'Scatter is better when there is correlation between two variables'**

In [ ]:
data.head()

In [ ]:
plt.scatter(data.price,data.carat,color="red")         #First X (price) , Second Y (carat) , and other properties
plt.xlabel("Price") #X Label
plt.ylabel("Carat") #Y Label
plt.title("scatter plot") #Figure Title
plt.show()

**We see that there is a linear ratio between carat and price**

**Just change carat and price and now we have better visual**

In [ ]:
plt.scatter(data.carat,data.price,color="blue")         #First X (carat) , Second Y (price) , and other properties
plt.xlabel("Carat") #X Label
plt.ylabel("Price") #Y Label
plt.title("scatter plot") #Figure Title
plt.show()

### Histogram 

**'better when we need to see distribution of numerical data.'**

In [ ]:
data.carat.plot(kind="hist",bins=5,figsize=(10,10),color="red",label="frequency")
plt.legend()
plt.xlabel("CARAT")
plt.show()