------------------------------------------
------------------------------------------
# <p style="background-color:yellow; font-family:newtimeroman; font-size:150%; text-align:center; border-radius: 10px 100px; color:black; hight:max"> Upvote my work if you found it useful.ðŸŽ¯ </p>
------------------------------------------
------------------------------------------
# <p style="background-color:#CCE3F2; font-family:newtimeroman; font-size:175%; text-align:center; border-radius: 15px 50px;">Data Analysis using SQL and Pandas</p>

------------------------------------------
------------------------------------------

<p style="background-color:skyblue; font-family:newtimeroman; font-size:200%; text-align:center; border-radius: 10px 100px;"><b>Introduction</b></p>
<b>
<li>In this notebook i will do some data cleaning and data analysis using SQL and Pandas.</li>
<br>
<li>This data from <a href="https://www.coursera.org/learn/data-wrangling-analysis-abtesting">Data Wrangling, Analysis and AB Testing with SQL</a> Coursera course from University of California, and i will join all the data together in one database using python library <b><a href="https://docs.python.org/3/library/sqlite3.html">sqlite3</a></b>,then i will try to do some data analysis and data visualization using <b>plotly</b> library (more intractive) and answer some questions.</li>
<br>
<p style="background-color:skyblue; font-family:newtimeroman; font-size:200%; text-align:center; border-radius: 10px 100px;">Outline:</p>
<ul>
   <li><a href="#Importing the needed libraries">Importing the needed libraries</a></li>
   <li><a href="#Importing the data and join them in a database">Importing the data and join them in a database and explore our tables</a></li>
   <li><a href="#EDA">EDA</a></li>
   <li>
      <a href="#Answering some quistions:">Answering some quistions:</a>
      <ul>
         <li><a href="#q1">How many users do we have?</a></li>
         <li><a href="#q2">What is the number of users who have ordered an item?</a></li>
         <li><a href="#q3">What is the number of events for each event name?</a></li>
         <li><a href="#q4">What is the number of events for each Platform?</a></li>
         <li><a href="#q5">What is the number of items for sale in each category?</a></li>
         <li><a href="#q6">What is the number of view user profile?</a></li>
         <li><a href="#q7">How many email address for each email domains?</a></li>
         <li><a href="#q8">Show the users who have viewed items?</a></li>
         <li><a href="#q9">Create a tables for each event name (view_item, view_user_profile, test_assignment events)</a></li>
         <li><a href="#q10">What percent of users have viewed items for each product category?</a></li>
         <li><a href="#q11">How many items have been purchased and how many items do we have?</a></li>
         <li><a href="#q12">How many items have been purchased for each category?</a></li>
         <li><a href="#q13">How many orders are placed each day?</a></li>
         <li><a href="#q14">What is the most recently viewed item for each user?</a></li>
         <li><a href="#q15">How long ago was their most recent view?</a></li>
         <li><a href="#q16">How many users have reordered an item?</a></li>
         <li><a href="#q17">How many users have reordered the same item?</a></li>
         <li><a href="#q18">How many orders per items?</a></li>
         <li><a href="#q19">How many orders per category?</a></li>
         <li><a href="#q20">What is the avgerage times each category has ordered?</a></li>
         <li><a href="#q21">What is the average time between orders?</a></li>
      </ul>
</ul>
<li><a href="#filter">create a filter function  to apply a filter on our data using pandas</a></li>
<br>
<p style="background-color:skyblue; font-family:newtimeroman; font-size:200%; text-align:center; border-radius: 10px 100px;">You can also see</p>
<ul>
<li><b><a href='https://www.kaggle.com/alaasedeeq/object-oriented-programming-for-data-science-8'>Object oriented programming for data science</a><br>
<li><b><a href='https://www.kaggle.com/alaasedeeq/predicting-the-survival-of-titanic-top-6'>Predicting the Survival of Titanic (Top 6%)</a><br>    
<li><b><a href='https://www.kaggle.com/alaasedeeq/house-price-prediction-top-8'>âœ” House Price prediction(Top 8%)</a><br> 
<li><b><a href='https://www.kaggle.com/alaasedeeq/commonlit-readability-eda'>CommonLit Readability EDA ðŸŽ¨
</a><br>    
<li><b><a href='https://www.kaggle.com/alaasedeeq/hotel-booking-eda-cufflinks-and-plotly'>Hotel booking EDA (Cufflinks and plotly)</a><br>
<li><b><a href='https://www.kaggle.com/alaasedeeq/data-exploration-and-visualization-uber-data'>Data exploration and visualization(Uber Data)</a><br>
<li><b><a href='https://www.kaggle.com/alaasedeeq/suicide-rates-visualization-and-geographic-maps/edit/run/53135916'>Suicide Rates visualization and Geographic maps</a>
<li><b><a href='https://www.kaggle.com/alaasedeeq/superstore-data-analysis-with-plotly-clustering'>Superstore Data Analysis With Plotly(Clustering)</a>
<li><b><a href='https://www.kaggle.com/alaasedeeq/superstore-analysis-with-cufflinks-and-pandas'>Superstore Analysis With Cufflinks and pandas</a>
<li><b><a href='https://www.kaggle.com/alaasedeeq/european-soccer-database-with-sqlite3'>Chinook Questions with sqlite</a>
<li><b><a href='https://www.kaggle.com/alaasedeeq/chinook-questions-with-sqlite'>European soccer database with sqlite3</a>
<li><b><a href='https://www.kaggle.com/alaasedeeq/chinook-questions-with-sqlite'>Chinook data questions with sqlite3</a>

<a id='Importing the needed libraries'></a>
<h2>Importing the needed libraries

In [ ]:
#basic libraries
import os
import re
import csv
import sqlite3
import pandas as pd
import pandasql as ps
import numpy as np

#visualization libraaries
import plotly 
import cufflinks as cf
import plotly.express as px
import plotly.graph_objs as go
import matplotlib.pyplot as plt
import plotly.subplots as subplots
from plotly.offline import init_notebook_mode, iplot

# You can go offline on demand by using
cf.go_offline() 
# To connect java script to your notebook
init_notebook_mode(connected=True)
original_path = '../input/dsc1069'

<a id='Importing the data and join them in a database'></a>
<h2>Importing the data and join them in a database</h2>

In [ ]:
files = ['dsv1069_users.csv','dsv1069_orders.csv','dsv1069_events.csv',
         'dsv1069_items.csv','dsc1069_date_rollup.csv']

In [ ]:
conn = sqlite3.connect('data.db')
c = conn.cursor()

for file in files:
    tb_name = ''.join(re.findall('([A-Za-z]+)',file)[1:-1])
    df = pd.read_csv(os.path.join(original_path,file))
    df.to_sql(tb_name, conn, if_exists='append', index=False)

## Lets Explore our tables

In [ ]:
# lets define these functions to be able to write sql query easily !!

def sq(q):
    with conn:
        return pd.read_sql_query(q, conn)

# the same function but rename the columns to be more readable
def sq1(q):
    with conn:
        return pd.read_sql_query(q, conn).rename(columns=lambda x : x.title().replace('_',' '))

In [ ]:
tables = sq('''
SELECT 
  Name,
  type
FROM 
  sqlite_master 
WHERE 
  type='table' 
''')

tables

### EVents table

In [ ]:
events = sq('''
SELECT * 
FROM events
''')

events.head()

### users table

In [ ]:
users = sq('''
SELECT * 
FROM users
''')

users.head()

### orders table

In [ ]:
orders = sq('''
SELECT * 
FROM orders
''')

orders.head()

### items table

In [ ]:
items = sq('''
SELECT * 
FROM items
''')

items.head()

<a id='NULL'></a>
<h3>Lets Check the null values in each column</h3>

In [ ]:
#for events table
sq('''
SELECT COUNT(*)-COUNT(event_id) As event_id_null, 
       COUNT(*)-COUNT(event_time) As event_time_null,
       COUNT(*)-COUNT(event_name) As event_name,
       COUNT(*)-COUNT(platform) As platform_null, 
       COUNT(*)-COUNT(parameter_name) As parameter_name_null,
       COUNT(*)-COUNT(parameter_value) As parameter_value_null
FROM events; 
''')

In [ ]:
#for users table
sq('''
SELECT COUNT(*)-COUNT(created_at) As created_at_null, 
       COUNT(*)-COUNT(deleted_at) As deleted_at_null,
       COUNT(*)-COUNT(email_address) As email_address_null,
       COUNT(*)-COUNT(first_name) As first_name_null, 
       COUNT(*)-COUNT(id) As id_null,
       COUNT(*)-COUNT(last_name) As last_name_null,
       COUNT(*)-COUNT(merged_at) As merged_at_null,
       COUNT(*)-COUNT(parent_user_id) As parent_user_id_null
FROM users;
''')

In [ ]:
#for orders table
sq('''
SELECT COUNT(*)-COUNT(invoice_id) As invoice_id_null, 
       COUNT(*)-COUNT(line_item_id) As line_item_id_null,
       COUNT(*)-COUNT(user_id) As user_id_null,
       COUNT(*)-COUNT(item_id) As item_id_null, 
       COUNT(*)-COUNT(item_name) As item_name_null,
       COUNT(*)-COUNT(item_category) As item_category_null,
       COUNT(*)-COUNT(price) As price_null,
       COUNT(*)-COUNT(created_at) As created_at_null,
       COUNT(*)-COUNT(paid_at) As paid_at_null
FROM orders; 
''')

In [ ]:
#for items table
sq('''
SELECT COUNT(*)-COUNT(adjective) As adjective_null, 
       COUNT(*)-COUNT(category) As category_null,
       COUNT(*)-COUNT(created_at) As created_at_null,
       COUNT(*)-COUNT(id) As id_null, 
       COUNT(*)-COUNT(modifier) As modifier_null,
       COUNT(*)-COUNT(name) As name_null,
       COUNT(*)-COUNT(price) As price_null
FROM items; 
''')

<h3>Conclusions</h3><br>
<b><li>In events table, We don't have null values
<b><li>In users table, We have null values in deleted_at, merged_at and parent_user_id columns
<b><li>In orders table, We don't have null values
<b><li>In items table, We have null values in adjective and modifier columns

<a id="EDA"></a>
<h2>EDA</h2>

In [ ]:
# lets define a function to plot a line plot easily
def line_plot(x,y,df,title,yaxis=None):
    
    fig = px.line(x=x,
                  y=y,
                  data_frame=df,
                  template="simple_white")

    fig['layout'].title=title

    for trace in fig.data:
        trace.name = trace.name.replace('_',' ').capitalize()

    fig.update_yaxes(tickprefix="", showgrid=True)

    fig.show()

In [ ]:
# lets define a function to plot a line plot easily
def bar_plot(x,y,df,title,yaxis=None):
    
    fig = px.bar(x=x,
                 y=y,
                 data_frame=df,
                 template="simple_white")

    fig['layout'].title=title

    for trace in fig.data:
        trace.name = trace.name.replace('_',' ').capitalize()

    fig.update_yaxes(tickprefix="", showgrid=True)

    fig.show()

In [ ]:
def pie_plot(names,values,df,title,template=None):
    
    fig = px.pie(data_frame=df,
                names=names,
                values=values,
                title=title,
                template=template,
                hole=0.5)
    fig.show()

In [ ]:
#Ceate a table containing the new created users

created_at = sq('''
SELECT
  DATE(created_at) AS DAY,
  COUNT(*) AS users
FROM
  users
WHERE
  deleted_at IS NULL
GROUP BY
  DAY
ORDER BY 
  DAY
''')
created_at.head()

In [ ]:
title='Line PLot for all new created users over the years' 

line_plot(x='DAY',y=['users'],df=created_at,title=title)

<h3>Conclusions</h3><br>
<b><li>Average number of new created users increases over the time

In [ ]:
#Ceate a table containing the deleted users

deleted_at = sq('''
SELECT
  DATE(deleted_at) AS DAY,
  COUNT(*) AS deleted_users
FROM
  users
WHERE
  deleted_at IS NOT NULL
GROUP BY
  DAY
''')
deleted_at.head()

In [ ]:
title='Line PLot for deleted users over the years' 

line_plot(x='DAY',y=['deleted_users'],df=deleted_at,title=title)

In [ ]:
merged_at = sq('''
SELECT
  DATE(merged_at) AS DAY,
  COUNT(*) AS merged_users
FROM
  users
WHERE
  merged_at IS NOT NULL
  AND id <> parent_user_id
GROUP BY
  DAY
''')
merged_at.head()

In [ ]:
title='Line PLot for merged users over the years' 
line_plot(x='DAY',y=['merged_users'],df=merged_at,title=title)

In [ ]:
temp = sq1('''
SELECT
  STRFTIME(new.day) AS DAY,
  new.new_added_users,
  COALESCE(deleted.deleted_users, 0) AS deleted_users,
  COALESCE(merged.merged_users, 0) AS merged_users,
  (
    new.new_added_users - COALESCE(deleted.deleted_users, 0) - COALESCE(merged.merged_users, 0)
  ) AS net_added_users
FROM
  (
    SELECT
      DATE(created_at) AS DAY,
      COUNT(*) AS new_added_users
    FROM
      users
    GROUP BY
      DAY
  ) new
  LEFT JOIN (
    SELECT
      DATE(created_at) AS DAY,
      COUNT(*) AS deleted_users
    FROM
      users
    WHERE
      deleted_at IS NOT NULL
    GROUP BY
      DAY
  ) deleted ON deleted.day = new.day
  LEFT JOIN (
    SELECT
      DATE(merged_at) AS DAY,
      COUNT(*) AS merged_users
    FROM
      users
    WHERE
      merged_at IS NOT NULL
    AND 
      id <> parent_user_id
    GROUP BY
      DAY
  ) merged ON merged.day = new.day
ORDER BY
  DAY DESC
''')
temp.head()

In [ ]:
temp['Day'] = pd.to_datetime(temp['Day'])

In [ ]:
title='Line PLot for new, deleted and merged users over the years' 
line_plot(x='Day',y=['New Added Users','Deleted Users','Merged Users','Net Added Users'],df=temp,title=title)

<a id="Answering some quistions:"></a>
<h1>Let's answer some quistions</h1>

<a id="q1"></a>
<h3>How many users do we have?</h3>

In [ ]:
user_count = sq1('''
SELECT 
  COUNT(DISTINCT(id)) as user_count 
FROM 
  users
''').values[0][0]

print('We have {} users'.format(user_count))

<a id="q2"></a>
<h3>What is the number of users who have ordered an item?</h3>

In [ ]:
user_with_orders_count = sq1('''
SELECT COUNT(*) as number_of_users_who_have_ordered_an_item
FROM users u
INNER JOIN orders o
ON u.id = o.user_id
''').values[0][0]

print('We have {} users that have orderd items'.format(user_with_orders_count))

<a id="q3"></a>
<h3>What is the number of events for each event name?</h3>

In [ ]:
event_name_count = sq1('''
SELECT
  event_name,
  count(*) AS event_count
FROM
  events
GROUP BY
  event_name
ORDER BY 
  event_count DESC
''')
event_name_count

In [ ]:
title = 'Number of events for each event name'
bar_plot(x='Event Name', y='Event Count',df=event_name_count,title=title)

<a id="q4"></a>
<h3>What is the number of events for each Platform?</h3>

In [ ]:
events_platform_count = sq1('''
SELECT
  platform,
  count(*) AS platform_count
FROM
  events
GROUP BY
  platform
ORDER BY 
  platform_count DESC
''')
events_platform_count

In [ ]:
title = 'Number of events for each Platform'
bar_plot(x='Platform', y='Platform Count',df=events_platform_count,title=title)

<a id="q5"></a>
<h3>What is the number of items for sale in each category?</h3>

In [ ]:
items_for_sale = sq1('''
SELECT category,
       COUNT(id) AS item_count
FROM items
GROUP BY category
ORDER BY item_count DESC;
''')
# items['category'].value_counts()
items_for_sale

In [ ]:
title = 'Number of items for sale in each category'
bar_plot(x='Category', y='Item Count',df=items_for_sale,title=title)

<a id="q6"></a>
<h3>What is the number of view user profile?</h3>

In [ ]:
view_user_profile = sq1('''
SELECT
  (
    CASE
      WHEN first_view IS NULL THEN 'NO'
      ELSE 'YES'
    END
  ) AS has_viewed_profile_page,
  COUNT(user_id) AS users -- creates first_profile_views table
FROM
  (
    SELECT
      users.id AS user_id,
      MIN(event_time) AS first_view
    FROM
      users
      LEFT JOIN events ON EVENTS.user_id = users.id
      AND event_name = 'view_user_profile'
    GROUP BY
      users.id
  ) first_profile_views
GROUP BY
  has_viewed_profile_page;
''')
view_user_profile

In [ ]:
title = 'Number of viewed profile page'
pie_plot('Has Viewed Profile Page','Users',view_user_profile,title,'presentation')

<a id="q7"></a>
<h3>How many email address for each email domains?</h3>

In [ ]:
#lets see the types of email domains do we have
import numpy as np
e_mail_domains = np.unique(users['email_address'].apply(lambda x:re.findall('@[\w]+'.lower(),x.lower())[0][1:]))
print('We have {} E-Mail domains:\n{}'.format(len(e_mail_domains),e_mail_domains))

In [ ]:
email_domain_users_count = pd.DataFrame(columns=e_mail_domains)
for email in e_mail_domains:
    q = '''SELECT COUNT(*)
           FROM users 
           WHERE email_address like '{}' '''.format('%@'+email+'.%')
    count = sq(q).values[0]
    email_domain_users_count[email] = count
email_domain_users_count = email_domain_users_count.T.sort_values(by=0,ascending=False).reset_index().\
                                        rename(columns={0:'Domain users count','index':'Domain name'})
email_domain_users_count

In [ ]:
bar_plot('Domain name','Domain users count',email_domain_users_count,title='')

<a id="q8"></a>
<h3>Show the users who have viewed items?</h3>

In [ ]:
view_item_event_1 = c.execute('''
CREATE TABLE IF NOT EXISTS view_item_event_1 AS
  SELECT
    event_id,
    DATE(event_time) AS event_time,
    user_id,
    platform,
    MAX(
      CASE
        WHEN parameter_name = 'item_id' THEN parameter_value
        ELSE NULL
      END
    ) AS item_id,
    MAX(
      CASE
        WHEN parameter_name = 'referrer' THEN parameter_value
        ELSE NULL
      END
    ) AS referrer
  FROM
    events
  WHERE
    event_name = 'view_item'
  GROUP BY
    event_id,
    event_time,
    user_id,
    platform
''')
view_item_event_1

In [ ]:
#lets check our tables
sq('''
SELECT * FROM sqlite_master
''')

<a id="q9"></a>
<h3>Create a tables for each event name (view_item, view_user_profile, test_assignment events)</h3>

In [ ]:
events['event_name'].unique()

In [ ]:
view_item_events = c.execute('''
CREATE TABLE IF NOT EXISTS view_item_events AS
  SELECT
    event_id,
    DATE(event_time) AS event_time,
    user_id,
    platform,
    MAX(
      CASE
        WHEN parameter_name = 'item_id' THEN parameter_value
        ELSE NULL
      END
    ) AS item_id,
    MAX(
      CASE
        WHEN parameter_name = 'referrer' THEN parameter_value
        ELSE NULL
      END
    ) AS referrer
  FROM
    events
  WHERE
    event_name = 'view_item'
  GROUP BY
    event_id,
    event_time,
    user_id,
    platform
''')

In [ ]:
view_user_profile_event = c.execute('''
CREATE TABLE IF NOT EXISTS view_user_profile_event AS
SELECT
  event_id,
  DATETIME(event_time) AS event_time,
  user_id,
  platform,
  MAX(CASE WHEN parameter_name = 'viewed_user_id' THEN parameter_value
      ELSE NULL
      END) as viewed_user_id
FROM
  EVENTS
WHERE
  event_name = 'view_user_profile'
GROUP BY
  event_id,
  event_time,
  user_id,
  platform
''')

In [ ]:
test_assignment_event = c.execute('''
CREATE TABLE IF NOT EXISTS test_assignment_event AS
SELECT
  event_id,
  DATETIME(event_time) AS event_time,
  user_id,
  platform,
  MAX(CASE WHEN parameter_name = 'test_assignment' THEN parameter_value
      ELSE NULL
      END) as test_assignment,
  MAX(CASE WHEN parameter_name = 'test_id' THEN parameter_value
      ELSE NULL
      END) as test_id
FROM
  EVENTS
WHERE
  event_name = 'test_assignment'
GROUP BY
  event_id,
  event_time,
  user_id,
  platform
''')

In [ ]:
#lets check our tables
sq('''
SELECT * 
FROM sqlite_master
''')

In [ ]:
view_item_events = sq('''SELECT * FROM view_item_events''')
view_item_events.head()

In [ ]:
test_assignment_event = sq('''SELECT * FROM test_assignment_event''')
test_assignment_event.head()

In [ ]:
view_user_profile_event = sq('''SELECT * FROM view_user_profile_event ''')
view_user_profile_event.head()

<a id="q10"></a>
<h3>What percent of users have viewed items for each product category?</h3>

In [ ]:
cat_users_viewed_count = sq1(''' 
WITH view_item_event_category_group AS (
  SELECT
    i.category AS category,
    v.user_id AS user_id
  FROM
    view_item_events v
    LEFT JOIN items i ON i.id = v.item_id
)
SELECT
  category,
  count(DISTINCT user_id) AS users_viewed_count
FROM
  view_item_event_category_group
GROUP BY
  category
''')
# sq('''
# SELECT
#   items.category,
#   count(DISTINCT user_id)
# FROM
#   view_item_event
#   JOIN items ON items.id = view_item_event.item_id
# GROUP BY
#   items.category
# ''')
cat_users_viewed_count

In [ ]:
title='Number of users have viewed items for each product category'
bar_plot('Category','Users Viewed Count',cat_users_viewed_count,title)

<a id="q11"></a>
<h3>How many items have been purchased and how many items do we have?</h3>

In [ ]:
sq1('''
SELECT
  COUNT(DISTINCT(items.id)) AS items_count,
  COUNT(orders.item_id) AS items_ever_purchased_count
FROM
  orders
  JOIN items ON items.id = orders.item_id
''')

<a id="q12"></a>
<h3>How many items have been purchased for each category?</h3>

In [ ]:
sq1('''
SELECT
  o.item_category AS category,
  COUNT(DISTINCT COALESCE(parent_user_id, user_id)) AS user_with_orders
FROM
  orders o
  JOIN users u ON u.id = o.user_id
GROUP BY
  o.item_category
ORDER BY
  user_with_orders DESC
''')

<a id="q13"></a>
<h3>How many orders are placed each day?</h3>

In [ ]:
num_each_day = sq1('''
SELECT
  DATE(paid_at) AS DAY,
  COUNT(DISTINCT invoice_id) AS orders,
  COUNT(DISTINCT line_item_id) AS line_items
FROM
  orders
GROUP BY
  DAY
ORDER BY
  DAY DESC;
''')
num_each_day

In [ ]:
line_plot('Day',['Orders','Line Items'],num_each_day,title='')

<a id="q14"></a> 
<h3>What is the most recently viewed item for each user?</h3>

In [ ]:
#first lets create a tabe with recently viewed events for each user
recent_views = c.execute('''
CREATE TABLE IF NOT EXISTS 'recent_views' AS
SELECT
  user_id,
  item_id,
  event_time,
  ROW_NUMBER() OVER (
    PARTITION BY user_id
    ORDER BY
      event_time DESC
  ) AS row_number,
  RANK() OVER (
    PARTITION BY user_id
    ORDER BY
      event_time DESC
  ) AS rank,
  DENSE_RANK() OVER (
    PARTITION BY user_id
    ORDER BY
      event_time DESC
  ) AS dense_rank
FROM
  view_item_events
''')

In [ ]:
recent_views = sq('''SELECT * FROM recent_views''')
recent_views.head()

<b><li>Window Function: It is a function that computes a value on a certain partition, or window, of the data that is specified in the PARTITION BY statement.
<li>You can see <a href='https://sqlite.org/windowfunctions.html'>windowfunctions</a></h3>

In [ ]:
#lets join recent_views, users, items tables together 
c.execute('''
CREATE TABLE IF NOT EXISTS 'full_recent_view' AS
SELECT
  u.id AS user_id,
  (u.first_name || ' ' || u.last_name) AS name,
  i.id AS item_id,
  event_time,
  row_number,
  rank,
  dense_rank,
  u.created_at,
  i.category
FROM
  recent_views r
  LEFT JOIN users u ON r.user_id = u.id
  LEFT JOIN items i ON r.item_id = i.id
''')

In [ ]:
full_recent_view = sq('''SELECT * FROM full_recent_view ''')
full_recent_view.head()

In [ ]:
#now we need to get the needed information about the item they viewed more recently.
sq('''
SELECT u.id AS user_id,
  (u.first_name || ' ' || u.last_name) AS name,
  i.id AS item_id,
  i.name AS item_name,
  event_time,
  row_number,
  u.created_at,
  i.category
from full_recent_view r
JOIN users u
  ON u.id = r.user_id
JOIN items i
  ON i.id = r.item_id
''')

In [ ]:
#now select the most recently viewed for each user(row_view = 1)
c.execute('''
CREATE TABLE IF NOT EXISTS 'recent_view_user' AS
SELECT
  COALESCE(users.parent_user_id, users.id) AS user_id,
  (users.first_name || ' ' || users.last_name) AS name,
  items.id AS item_id,
  items.name AS item_name,
  event_time,
  users.created_at,
  items.category
FROM
  full_recent_view
  JOIN users ON users.id = full_recent_view.user_id
  JOIN items ON items.id = full_recent_view.item_id
  LEFT JOIN orders
  /*LEFT OUTER JOIN to filter the users who viewed and ordered*/
  ON orders.item_id = full_recent_view.item_id
  AND orders.user_id = full_recent_view.user_id
WHERE
  row_number = 1
  AND users.deleted_at IS NOT NULL
  AND orders.item_id IS NULL
''')

In [ ]:
sq('''
SELECT * FROM recent_view_user 
''')

<a id="q15"></a>
<h3>How long ago was their most recent view?</h3>

In [ ]:
sq1('''
SELECT
  recent_view_user.*,
(DATETIME('now') - DATETIME(created_at)) AS date_difference
FROM
  recent_view_user
''')

<a id="16"></a>
<h3>How many users have reordered an item?</h3>

In [ ]:
sq1('''
SELECT COUNT(DISTINCT user_id) as users_re_ordered
FROM
  ( SELECT user_id,
           COUNT(DISTINCT invoice_id) AS order_count
   FROM orders
   GROUP BY user_id ) user_level
WHERE order_count > 1;
''')

<a id="q17"></a>
<h3>How many users have reordered the same item?</h3>

In [ ]:
sq1('''
SELECT
  COUNT(*) as re_order_the_same_item
FROM
  (
    SELECT
      user_id,
      item_id,
      COUNT (DISTINCT line_item_id) AS times_user_ordered
    FROM
      orders
    GROUP BY
      user_id,
      item_id
  )
WHERE
  times_user_ordered > 1;
''')

<a id="q18"></a>
<h3>How many orders per items?</h3>

In [ ]:
sq1('''
SELECT
  item_id,
  name,
  category,
  orders_count
FROM
  (
    SELECT
      item_id,
      count(invoice_id) orders_count
    FROM
      orders
    GROUP BY
      item_id
  ) AS orders
  LEFT JOIN items ON items.id = orders.item_id
ORDER BY
  Orders_Count DESC
''')

<a id="q19"></a>
<h3>How many orders per category?</h3>

In [ ]:
sq1('''
SELECT
  category,
  count(*) AS orders_by_category
FROM
  orders
  LEFT JOIN items ON items.id = orders.item_id
GROUP BY
  category
ORDER BY
  orders_by_category DESC;
''')

In [ ]:
#lets try the previous example with pandas 
temp = orders.set_index('item_id').join(items.set_index('id'),how='left',lsuffix='_caller', rsuffix='_other')
temp['category'].value_counts().to_frame().rename(columns={'category':'Category Count'})

<a id="q20"></a>
<h3>What is the avgerage times each category has ordered?</h3>

In [ ]:
sq('''
SELECT item_category,
  AVG(times_category_ordered) AS avg_times_category_ordered
FROM
  (SELECT user_id,
          item_category,
          COUNT(DISTINCT line_item_id) AS times_category_ordered
   FROM orders
   GROUP BY user_id,
            item_category) user_level
GROUP BY item_category
''')

<a id="q21"></a>
<h3>What is the average time between orders?</h3>

In [ ]:
sq1('''
SELECT first_orders.user_id,
       DATE(first_orders.paid_at) AS first_order_date,
       DATE(second_orders.paid_at) AS second_order_date,
       DATE(second_orders.paid_at) - DATE(first_orders.paid_at) AS date_diff
FROM
    (SELECT user_id,
            invoice_id,
            paid_at,
            DENSE_RANK() OVER (PARTITION BY user_id
                               ORDER BY paid_at ASC) AS order_num
   FROM orders) first_orders
JOIN
  (SELECT user_id,
          invoice_id,
          paid_at,
          DENSE_RANK() OVER (PARTITION BY user_id
                             ORDER BY paid_at ASC) AS order_num
   FROM orders) second_orders
  ON first_orders.user_id = second_orders.user_id
WHERE first_orders.order_num = 1
  AND second_orders.order_num = 2;

''')

<a id="filter"></a>
<h2>lets create a filter function  to apply a filter on our data using pandas</h2>

In [ ]:
#first lets load all the data we have in this dictionary
all_data = {} 
dfs = tables['name'].values
for df_name in dfs:
    q = '''SELECT *
           FROM {}'''.format(df_name)
    temp = sq(q)
    all_data[df_name] = temp

In [ ]:
#create a filter funstion that takes the naame of table, the column in this table and the filter to apply
def apply_filter():       
    print('Let\'s apply some filters to the data')
    
    #take the name of table from the user to load it
    while True:
        print('All data : {}'.format(all_data.keys()))
        data_name = str(input('Enter the name of data to apply filter on it or end to close : '))
        if data_name.lower()=='end':
            return False
        if data_name not in all_data.keys():
            print('Not in data, Please try again!')
        else:
            break
            
    data = all_data[data_name]
    
    #take the name of column in this table from the user
    while True:
        print('All columns : {}'.format(all_data[data_name].columns))
        column = str(input('Enter the column to apply your filter or end to close : '))
        if column.lower()=='end':
            return False
        if column not in data.columns:
            print('Not in data, Please try again!')
        else:
            break
            
    col_type = all_data[data_name][column].dtypes

        
    #take the filter from the user to apply
    while True:
        if col_type == 'object':
            print('Type of column is : {}'.format(col_type),'\n',all_data[data_name][column].unique())
            app_filter = input('Enter the filter (that has the same type) to apply or type end to close  : ')
        else: 
            print('Type of column is : {}'.format(col_type))
            app_filter = input('Enter the filter (that has the same type) to apply or type end to close  : ')
        if app_filter.lower()=='end':
            return False
        if app_filter not in data[column].unique():
            print('Not in data, Please try again!')
            print(app_filter,type(app_filter))
        else:
            break

    print('-'*40)
    return data_name,column,app_filter

### Just remove the comment and run the code

In [ ]:
# def main():
#     while True:
        
#         data_name,column,app_filter=apply_filter()
#         print('Your data is ready \n')
#         data = all_data[data_name]
#         new_data = data[data[column]==app_filter]
#         print(new_data)
#         restart = input('\nWould you like to restart? Enter yes or no.\n')
#         if restart.lower() != 'yes':
#             break

# #  return new_data
    
# if __name__ == "__main__":
#     main()

<h1 align="center"> Thanks, I hope it was useful</h1>