# Pandas 101: One-stop Shop for Data Science

### This notebook can be treated as pandas cheatsheet or a beginner-friendly guide to learn from basics.

Last updated on 24-May-2020 (Appending & Concatenating Series)

[1. Creating DataFrames](#Creating-DataFrames)<br>
[2. Reading and writing CSVs](#Reading-and-writing-CSVs)<br>
[3. Some useful pandas function](#Some-useful-pandas-function)<br>
[4. Appending & Concatenating Series](#Appending-Concatenating-Series)<br>
[5. Sorting](#Sorting)<br>
[6. Subsetting](#Subsetting)<br>
[7. Subsetting using .isin()](#Subsetting-using)<br>
[8. Detecting missing values .isna()](#Detecting-missing-values)<br>
[9. Counting missing values](#Counting-missing-values)<br>
[10. Removing missing values](#Removing-missing-values)<br>
[11. Adding a new column](#Adding-a-new-column)<br>
[12. Deleting columns in DataFrame](#Deleting-columns-in-DataFrame)<br>
[13. Summary statistics](#Summary-statistics)<br>
[14. agg() method](#.agg-method)<br>
[15. Dropping duplicate names](#Dropping-duplicate-names)<br>
[16. Count categorical data](#Count-categorical-data)<br>
[17. Grouped summaries](#Grouped-summaries)<br>
[18. Pivot table](#Pivot-table)<br>
[19. Explicit indexes](#Explicit-indexes)<br>
[20. Visualizing your data](#Visualizing-your-data)<br>
[21. Arithmetic with Series & DataFrames](#Arithmetic-with-Series-DataFrames)<br>
[21. Merge DataFrames](#Merge-DataFrames)<br>
[23. What next?](#What-next)<br>

"Avocado Prices" dataset is used in this notebook :)

In [ ]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

<a id="Creating-DataFrames"></a>
# Creating DataFrames
* From a list of dictionaries (constructed row by row)

In [ ]:
list_of_dicts = [ 
     {"name": "Ginger", "breed": "Dachshund", "height_cm": 22,"weight_kg": 10, "date_of_birth": "2019-03-14"},
    {"name": "Scout", "breed": "Dalmatian", "height_cm": 59,"weight_kg": 25, "date_of_birth": "2019-05-09"}
]
new_dogs = pd.DataFrame(list_of_dicts)
new_dogs

* From a dictionary of lists (constructed column by column)

In [ ]:
dict_of_lists = { 
     "name": ["Ginger", "Scout"], 
     "breed": ["Dachshund", "Dalmatian"], 
     "height_cm": [22, 59], 
     "weight_kg": [10, 25], 
     "date_of_birth": ["2019-03-14","2019-05-09"]  } 
new_dogs = pd.DataFrame(dict_of_lists) 
new_dogs

<a id="Reading-and-writing-CSVs"></a>
# Reading and writing CSVs
* CSV = comma-separated values 
* Designed for DataFrame-like data 
* Most database and spreadsheet programs can use them or create them

In [ ]:
# read CSV from using pandas
avocado = pd.read_csv("../input/avocado-prices/avocado.csv")
# print the first few rows of the dataframe
avocado.head()

### Read CSV and assign index
<p>You can assign columns as index using "index_col" attribute.</p>
<p>Since I want to index Date there is another helpful function called "parse_date" which will parse the date in the rows such that we can perform more complex subsetting(eg monthly, weekly etc).</p>

In [ ]:
# read CSV from using pandas and assigning Date as index of the dataframe
avocado = pd.read_csv("../input/avocado-prices/avocado.csv",parse_dates=True, index_col='Date')
# print the first few rows of the dataframe
avocado.head()

### Remove index from dataframe .reset_index(drop)

To reset the index use this function

In [ ]:
avocado = avocado.reset_index(drop=True)
avocado.head()

To write a CSV file function dataframe.to_csv(FILE_NAME)

In [ ]:
avocado.to_csv("test_write.csv")

# Some useful pandas function

* **.head()** or **.head(x)** is used to get the first x rows of the DataFrame (x = 5 by default)

In [ ]:
avocado = pd.read_csv("../input/avocado-prices/avocado.csv")
avocado.head()

* **.tail()** or **.tail(x)** is used to get the last x rows of the DataFrame (x = 5 by default)

In [ ]:
avocado.tail(10)

* **.info()** is used to get a concise summary of the DataFrame

In [ ]:
avocado.info()

* **.shape** is used to get the dimensions of the DataFrame

In [ ]:
print(avocado.shape)

* **.describe()** is used to view some basic statistical details like percentile, mean, std etc. of a DataFrame

In [ ]:
avocado.describe()

* **.values** this attribute return a Numpy representation of the given DataFrame

In [ ]:
avocado.values

* **.columns** this attribute return a Numpy representation of columns in the DataFrame

In [ ]:
print(avocado.columns)

<a id="Appending-Concatenating-Series"></a>
# Appending & Concatenating Series

append(): Series & DataFrame method
* Invocation:
* s1.append(s2)
* Stacks rows of s2 below s1 
<br>
<br>
<br>
concat(): pandas module function<br>
* Invocation:
* pd.concat([s1, s2, s3])
* Can stack row-wise or column-wise

In [ ]:
even = pd.Series([2,4,6,8,10])
odd = pd.Series([1,3,5,7,9])

res = even.append(odd)
res

### Observe index got messed up

You can use .reset_index(drop=True) to fix it<br>
Note: if drop = False then previous index will be added as a column

In [ ]:
res.reset_index(drop=True)

<a id="Sorting"></a>
# Sorting
syntax:<br>
> DataFrame.sort_values(by, axis=0, ascending=True, inplace=False, kind=’quicksort’, na_position=’last’)

* by: Single/List of column names to sort Data Frame by.
* axis: 0 or ‘index’ for rows and 1 or ‘columns’ for Column.
* ascending: Boolean value which sorts Data frame in ascending order if True.
* inplace: Boolean value. Makes the changes in passed data frame itself if True.
* kind: String which can have three inputs(‘quicksort’, ‘mergesort’ or ‘heapsort’) of algorithm used to sort data frame.
* na_position: Takes two string input ‘last’ or ‘first’ to set position of Null values. Default is ‘last’.

In [ ]:
# sort values based on "AveragePrice" (ascending) and "year" (descending)
avocado.sort_values(["AveragePrice", "year"], ascending=[True, False])

### Sorting by index

use df.sort_index(ascending=True/False)

<a id="Subsetting"></a>
# Subsetting

Subsetting is used to get a slice of the original dataframe

In [ ]:
# Subsetting columns
avocado["AveragePrice"]

### Subsetting multiple columns

In [ ]:
# Subsetting multiple columns
avocado[["AveragePrice","Date"]]

### Subsetting rows

In [ ]:
# Subsetting rows
avocado["AveragePrice"]<1

and then using it for subsetting the original dataframe

In [ ]:
# This will print only the rows with price < 1
avocado[avocado["AveragePrice"]<1]

### Subsetting based on text data

In [ ]:
# it will print all the rows with "type" = "organic"
avocado[avocado["type"]=="organic"]

### Subsetting based on dates

In [ ]:
# it will print all the rows with "Date" <= 2015-02-04
avocado[avocado["Date"]<="2015-02-04"]

### Subsetting based on multiple conditions
You can use the logical operators to define a complex condition<br>
* "&" and
* "|" or
* "~" not

> ** SEPERATE EACH CONDITION WITH PARENTHESES TO AVOID ERRORS**

In [ ]:
# it will print all the rows with "Date" before 2015-02-04 and "type" == "organic"
avocado[(avocado["Date"]<"2015-02-04") & (avocado["type"]=="organic")]

<a id="Subsetting-using"></a>
# Subsetting using .isin()
isin() method helps in selecting rows with having a particular(or Multiple) value in a particular column

> Syntax: DataFrame.isin(values)
> 
> Parameters:
> values: iterable, Series, List, Tuple, DataFrame or dictionary to check in the caller Series/Data Frame.
> 
> Return Type: DataFrame of Boolean of Dimension.
>

In [ ]:
# subset the avocado in the region Boston or SanDiego
regionFilter = avocado["region"].isin(["Boston", "SanDiego"])
avocado[regionFilter]

### Multiple parameter Filtering
Use logical operators to combine different filters

In [ ]:
# subset the avocado in the region Boston or SanDiego in the year 2016 or 2017
regionFilter = avocado["region"].isin(["Boston", "SanDiego"])
yearFilter = avocado["year"].isin(["2016", "2017"])
avocado[regionFilter & yearFilter]

<a id="Detecting-missing-values"></a>
# Detecting missing values .isna()

.isna() is a method used to find is there exist any NaN values in the DataFrame

It will give a True bool value if a cell has a NaN value

In [ ]:
avocado.isna()

### We can use .any() function to get a consise info

In [ ]:
avocado.isna().any()

<a id="Counting-missing-values"></a>
# Counting missing values

In [ ]:
avocado.isna().sum()

<a id="Removing-missing-values"></a>
# Removing missing values
* Drop NaN ** .dropna() **
* Fill NaN with value x ** .fillna(x) **

In [ ]:
# Luckily we don't have any NaN but if we have we can use any of the two methods

avocado.dropna()

# ****  OR  ****

meanVal = avocado["AveragePrice"].mean()
avocado.fillna(meanVal)

<a id="Adding-a-new-column"></a>
# Adding a new column
It can easily be done using the [ ] brackets

Lets add a new column to our dataframe called AveragePricePer100

In [ ]:
avocado["AveragePricePer100"] = avocado["AveragePrice"] * 100
avocado

<a id="Deleting-columns-in-DataFrame"></a>
# Deleting columns in DataFrame .drop(lst,axis = 1)
> dataFrame.drop(['COLUMN_NAME'], axis = 1)
* the first parameter is a list of columns to be deleted
* axis = 1 means delete column
* axis = 0 means delete row

In [ ]:
avocado.drop(["AveragePricePer100"],axis = 1)

<a id="Summary-statistics"></a>
# Summary statistics
Some of the functions availabe in pandas are:

> .median() .mode() .min() .max() .var() .std() .sum() .quantile()

In [ ]:
# mean of the AveragePrice of avocado
avocado["AveragePrice"].mean()

### Summarizing dates

To find the min or max date in a dataframe

In [ ]:
avocado["Date"].max()

<a id=".agg-method"></a>
# .agg() method

Pandas Series.agg() is used to pass a function or list of function to be applied on a series or even each element of series separately.

> Syntax: Series.agg(func, axis=0)
> 
> Parameters:
> func: Function, list of function or string of function name to be called on Series.
> axis:0 or ‘index’ for row wise operation and 1 or ‘columns’ for column wise operation.
> 
> Return Type: The return type depends on return type of function passed as parameter.

In [ ]:
def pct30(column):     
    #return the 0.3 quartile
    return column.quantile(0.3)
def pct50(column):     
    #return the 0.5 quartile
    return column.quantile(0.5)

avocado[["AveragePrice","Total Bags"]].agg([pct30,pct50])

<a id="Dropping-duplicate-names"></a>
# Dropping duplicate names .drop_duplicates(lst)
Delete all the duplicate names from the dataframe

In [ ]:
temp = avocado.drop_duplicates(subset=["year"])
temp

<a id="Count-categorical-data"></a>
# Count categorical data .value_counts()

Pandas Series.value_counts() function return a Series containing counts of unique values.

> Syntax: Series.value_counts(normalize=False, sort=True, ascending=False, bins=None, dropna=True)
> 
> Parameter :
normalize : If True then the object returned will contain the relative frequencies of the unique values.
sort : Sort by values.
ascending : Sort in ascending order.
bins : Rather than count values, group them into half-open bins, a convenience for pd.cut, only works with numeric data.
dropna : Don’t include counts of NaN.
> 
> Returns : counts : Series

In [ ]:
# count number of avocado in each year in descending order
avocado["year"].value_counts(sort=True, ascending = False)

<a id="Grouped-summaries"></a>
# Grouped summaries .groupby(col)
This function will group similar categories into one and then we can perform some summary statistics

> Syntax: DataFrame.groupby(by=None, axis=0, level=None, as_index=True, sort=True, group_keys=True, squeeze=False, **kwargs)
> 
> Parameters :
> by : mapping, function, str, or iterable<br>
> axis : int, default 0<br>
> level : If the axis is a MultiIndex (hierarchical), group by a particular level or levels<br>
> as_index : For aggregated output, return object with group labels as the index. Only relevant for DataFrame input. as_index=False is effectively “SQL-style” grouped output<br>
> sort : Sort group keys. Get better performance by turning this off. Note this does not influence the order of observations within each group. groupby preserves the order of rows within each group.<br>
> group_keys : When calling apply, add group keys to index to identify pieces<br>
> squeeze : Reduce the dimensionality of the return type if possible, otherwise return a consistent type<br>
> 
> Returns : GroupBy object

In [ ]:
# group by multiple columns and perform multiple summary statistic operations
avocado.groupby(["year","type"])["AveragePrice"].agg([min,max,np.mean,np.median])

<a id="Pivot-table"></a>
# Pivot table
A pivot table is a table of statistics that summarizes the data of a more extensive table.

IMPORRANT parements to remember are<br>
"index": it is the value that appeares on the left most side of the table (it can be a list)<br>
"columns": these are the column you want to add to the pivot table<br>
"aggfunc": it will call the function (it can be a list)<br>
"values": it is the attribute which will be summarized in the table (values inside the table)<br>

> Syntax<br>
> pandas.pivot_table(data, values=None, index=None, columns=None, aggfunc=’mean’, fill_value=None, margins=False, dropna=True, margins_name=’All’)<br>
> 
> Parameters:<br>
data : DataFrame<br>
values : column to aggregate, optional<br>
index: column, Grouper, array, or list of the previousv
columns: column, Grouper, array, or list of the previous<br>
> 
> aggfunc: function, list of functions, dict, default numpy.mean<br>
....If list of functions passed, the resulting pivot table will have hierarchical columns whose top level are the function names.<br>
....If dict is passed, the key is column to aggregate and value is function or list of functions<br>
fill_value[scalar, default None] : Value to replace missing values with<br>
margins[boolean, default False] : Add all row / columns (e.g. for subtotal / grand totals)<br>
dropna[boolean, default True] : Do not include columns whose entries are all NaN<br>
margins_name[string, default ‘All’] : Name of the row / column that will contain the totals when margins is True.<br>
> 
> Returns: DataFrame

In [ ]:
# this is the same table we build in the previous cell but using pivot table
avocado.pivot_table(index=["year","type"], aggfunc=[min,max,np.mean,np.median], values="AveragePrice")

<a id="Explicit-indexes"></a>
# Explicit indexes
Indexes make subsetting simpler using .loc and .iloc

### Setting column as the index

In [ ]:
regionIndex = avocado.set_index(["region"])
regionIndex

In [ ]:
# Insted of doing this
avocado[avocado["region"].isin(["Albany", "WestTexNewMexico"])]

In [ ]:
# we can simply do
regionIndex.loc[["Albany", "WestTexNewMexico"]]

<a id="Visualizing-your-data"></a>
# Visualizing your data

### Histograms
use the function .hist()

In [ ]:
avocado["AveragePrice"].hist(bins=20)
plt.show()

### Bar plots

In [ ]:
regionFilter = avocado.groupby("region")["AveragePrice"].mean().head(10)
regionFilter

In [ ]:
regionFilter.plot(kind = "bar",rot=45,title="Average price in 10 regions")

### Scatter plot

In [ ]:
avocado.plot(x="AveragePrice", y="Total Volume", kind="scatter")

<a id="Arithmetic-with-Series-DataFrames"></a>
# Arithmetic with Series & DataFrames

You can use arithmetic operators directly on series but sometimes you need more control while performing these operations, here is where these explicit arithmetic functions come into the picture

Add/Subtract function (just replece add with sub)
```
Syntax: Series.add(other, level=None, fill_value=None, axis=0)

Parameters:
other: other series or list type to be added into caller series
fill_value: Value to be replaced by NaN in series/list before adding
level: integer value of level in case of multi index

Return type: Caller series with added values
```

Multiplication function
```
Syntax: Series.mul(other, level=None, fill_value=None, axis=0)

Parameters:
other: other series or list type to be added into caller series
fill_value: Value to be replaced by NaN in series/list before adding
level: integer value of level in case of multi index

Return type: Caller series with added values
```

Division function
```
Syntax: Series.div(other, level=None, fill_value=None, axis=0)

Parameters:
other: other series or list type to be divided by the caller series
fill_value: Value to be replaced by NaN in series/list before division
level: integer value of level in case of multi index

Return type: Caller series with divided values
```

In [ ]:
# subtract AveragePrice with AveragePrice :P
# Dah its 0
avocado["AveragePrice"].sub(avocado["AveragePrice"])

<a id="Merge-DataFrames"></a>
# Merge DataFrames

Syntax:
> DataFrame.merge(self, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None) → 'DataFrame'[source]¶
Merge DataFrame or named Series objects with a database-style join.

The join is done on columns or indexes. If joining columns on columns, the DataFrame indexes will be ignored. Otherwise if joining indexes on indexes or indexes on a column or columns, the index will be passed on.

Parameters
right: DataFrame or named Series
Object to merge with.

how{‘left’, ‘right’, ‘outer’, ‘inner’}, default ‘inner’

on: label or list
Column or index level names to join on. These must be found in both DataFrames. If on is None and not merging on indexes then this defaults to the intersection of the columns in both DataFrames.

left_on: label or list, or array-like
Column or index level names to join on in the left DataFrame. Can also be an array or list of arrays of the length of the left DataFrame. These arrays are treated as if they are columns.

right_on: label or list, or array-like
Column or index level names to join on in the right DataFrame. Can also be an array or list of arrays of the length of the right DataFrame. These arrays are treated as if they are columns.

left_index: bool, default False
Use the index from the left DataFrame as the join key(s). If it is a MultiIndex, the number of keys in the other DataFrame (either the index or a number of columns) must match the number of levels.

right_index: bool, default False
Use the index from the right DataFrame as the join key. Same caveats as left_index.

sort: bool, default False
Sort the join keys lexicographically in the result DataFrame. If False, the order of the join keys depends on the join type (how keyword).

suffixes: tuple of (str, str), default (‘_x’, ‘_y’)
Suffix to apply to overlapping column names in the left and right side, respectively. To raise an exception on overlapping columns use (False, False).

## Join
> DataFrame.merge(self, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None) → 'DataFrame'[source]¶
Merge DataFrame or named Series objects with a database-style join.

The join is done on columns or indexes. If joining columns on columns, the DataFrame indexes will be ignored. Otherwise if joining indexes on indexes or indexes on a column or columns, the index will be passed on.

Parameters
rightDataFrame or named Series
Object to merge with.

how{‘left’, ‘right’, ‘outer’, ‘inner’}, default ‘inner’
on: label or list
Column or index level names to join on. These must be found in both DataFrames. If on is None and not merging on indexes then this defaults to the intersection of the columns in both DataFrames.

left_on: label or list, or array-like
Column or index level names to join on in the left DataFrame. Can also be an array or list of arrays of the length of the left DataFrame. These arrays are treated as if they are columns.

right_on: label or list, or array-like
Column or index level names to join on in the right DataFrame. Can also be an array or list of arrays of the length of the right DataFrame. These arrays are treated as if they are columns.

left_index: bool, default False
Use the index from the left DataFrame as the join key(s). If it is a MultiIndex, the number of keys in the other DataFrame (either the index or a number of columns) must match the number of levels.

right_index: bool, default False
Use the index from the right DataFrame as the join key. Same caveats as left_index.

sort: bool, default False
Sort the join keys lexicographically in the result DataFrame. If False, the order of the join keys depends on the join type (how keyword).

suffixes: tuple of (str, str), default (‘_x’, ‘_y’)
Suffix to apply to overlapping column names in the left and right side, respectively. To raise an exception on overlapping columns use (False, False).

<a id="What-next"></a>
# What next?

Try to use your skills on some other dataset<br>

Have a look at my analysis of some other datasets :P
* [Android App Market on Google Play](https://www.kaggle.com/mohammedmurtuzalabib/android-app-market-on-google-play-analysis)
* [MNIST Ensemble of 5 CNNS to get 0.99742 score!!](https://www.kaggle.com/mohammedmurtuzalabib/mnist-ensemble-of-5-cnns-0-99742)
* [Titanic Survival](https://www.kaggle.com/mohammedmurtuzalabib/titanic-survival-analysis)

Please upvote if you find it helpful :D

More updates will come soon, please wait :)